{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
    <script>
        $(function() {
            $('.main_visual').slick({
                dots: true,
                arrows: false,
                autoplay: true,
                autoplaySpeed: 3000,
                speed: 500,
                fade: true,
                cssEase: 'linear',

            });
            $('.carousel-prev').click(function(){ 
                $('.slick-slider').slick('slickPrev');
            } );
            $('.carousel-next').click(function(e){
                e.preventDefault(); 
                $('.slick-slider').slick('slickNext');
            } );
        });
    </script>
{% endblock javascript %}

{% set headerBannerPCs = repository('Eccube\\Entity\\Banner').getHeaderBannerPC() %}
{% set headerBannerSPs = repository('Eccube\\Entity\\Banner').getHeaderBannerSP() %}

{% block main %}
    <div class="ec-sliderRole pc_only">
        <div class="main_visual">
            {% for headerBannerPC in headerBannerPCs %}
                {% if headerBannerPC.url %}
                    <div class="item slick-slide">
                        <a href="{{ headerBannerPC.url }}"><img src="{{ asset(headerBannerPC.image|no_image_product, 'save_banner') }}"></a>
                        <div class="ec-slider_contents"><h2>北海道の旨いもんを <br>全国発送しています！</h2>
                            <p>えぞ商店は北海道すすきのからおいしい北海道の食品を全国へお届けしております。全国送料無料！</p>
                            <div class="ec-slider_actions">
                                <a class="ec-button" href="{{ headerBannerPC.url }}" tabindex="0">オススメお得セット</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item slick-slide">
                        <img src="{{ asset(headerBannerPC.image|no_image_product, 'save_banner') }}">
                        <div class="ec-slider_contents"><h2>北海道の旨いもんを <br>全国発送しています！</h2>
                            <p>えぞ商店は北海道すすきのからおいしい北海道の食品を全国へお届けしております。全国送料無料！</p>
                            <div class="ec-slider_actions">
                                <a class="ec-button" href="https://www.ezo-shoten.jp/products/list?category_id=&name=%E3%82%BB%E3%83%83%E3%83%88" tabindex="0">オススメお得セット</a>
                            </div>
                        </div>
                    </div>
        	    {% endif %}
            {% endfor %}
        </div>
        {% if headerBannerPCs|length > 1 %}
        <div class="slick-arrow">
            <button class="carousel-nav carousel-prev"><i class="bx bx-chevrons-left"></i>Prev</button>
            <button class="carousel-nav carousel-next">Next<i class="bx bx-chevrons-right"></i></button>
        </div>
        {% endif %}
    </div>
    <div class="ec-sliderRole sp_only">
        <div class="main_visual">
            {% for headerBannerSP in headerBannerSPs %}
                {% if headerBannerSP.url %}
                    <div class="item slick-slide">
                        <a href="{{ headerBannerSP.url }}"><img src="{{ asset(headerBannerSP.image|no_image_product, 'save_banner') }}"></a>
                        <div class="ec-slider_contents"><h2>北海道の旨いもんを <br>全国発送しています！</h2>
                            <p>えぞ商店は北海道すすきのからおいしい北海道の食品を全国へお届けしております。全国送料無料！</p>
                            <div class="ec-slider_actions">
                                <a class="ec-button" href="{{ headerBannerSP.url }}" tabindex="0">オススメお得セット</a>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="item slick-slide">
                        <img src="{{ asset(headerBannerSP.image|no_image_product, 'save_banner') }}">
                        <div class="ec-slider_contents"><h2>北海道の旨いもんを <br>全国発送しています！</h2>
                            <p>えぞ商店は北海道すすきのからおいしい北海道の食品を全国へお届けしております。全国送料無料！</p>
                            <div class="ec-slider_actions">
                                <a class="ec-button" href="https://www.ezo-shoten.jp/products/list?category_id=&name=%E3%82%BB%E3%83%83%E3%83%88" tabindex="0">オススメお得セット</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% if headerBannerSPs|length > 1 %}
        <div class="slick-arrow">
            <button class="carousel-nav carousel-prev"><i class="bx bx-chevrons-left"></i>Prev</button>
            <button class="carousel-nav carousel-next">Next<i class="bx bx-chevrons-right"></i></button>
        </div>
        {% endif %}
    </div>
{% endblock %}