{% extends 'default_frame.twig' %}

{% block main %}
    <div class="ec-role">
        <div class="ec-pageHeader">
            <h1> {{ '特定商取引法に基づく表記'|trans }}</h1>
        </div>
        <div class="ec-off1Grid">
            <div class="ec-off1Grid__cell">
                <div class="ec-borderedDefs">

                    <dl>
                        <dt>
                            <label class="ec-label">電話番号</label>
                        </dt>
                        <dd>0000-0000-0000</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">メールアドレス</label>
                        </dt>
                        <dd><a href="mailto:{{ BaseInfo.email02 }}">{{ BaseInfo.email02 }}</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">URL</label>
                        </dt>
                        <dd><a href="{{ url('homepage') }}">{{ url('homepage') }}</a></dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">商品代金以外の必要料金</label>
                        </dt>
                        <dd>・代金引換でご購入の際の代引手数料。<br>
・送料に関しましては、重量により変動致します。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">申し込みの有効期限</label>
                        </dt>
                        <dd>原則、受注確認（受注確認の為の自動送信メール発信）後、5日間とします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">不良品</label>
                        </dt>
                        <dd>初期不良につきましては交換もしくは修理の対応をさせていただきます。商品到着日から7日以内に当社までご連絡ください。</dd>
                    </dl>
                    
                    <dl>
                        <dt>
                            <label class="ec-label">販売数量</label>
                        </dt>
                        <dd>特に指定はございません（商品によって設定あり）</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">引き渡し時期</label>
                        </dt>
                        <dd>ご注文受付後、7日以内にお届けいたします。<br>
天候不順・配送業者の都合・その他何らかの理由により遅延する場合はメール等でお知らせいたします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払方法</label>
                        </dt>
                        <dd>銀行振込・クレジットカード・代金引換</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品・交換について</label>
                        </dt>
                        <dd>初期不良につきましては交換もしくは修理の対応をさせていただきます。商品到着日から7日以内に当社までご連絡ください。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">お支払い期限</label>
                        </dt>
                        <dd>-代金引換の場合<br>
商品のお届け時に、佐川急便配達員に代金のお支払いをお願いします。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品期限</label>
                        </dt>
                        <dd>商品の返品・交換には初期不良の場合以外では応じられません。</dd>
                    </dl>

                    <dl>
                        <dt>
                            <label class="ec-label">返品送料</label>
                        </dt>
                        <dd>初期不良、発送商品間違いの場合、当店着払いにて対応いたします。</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
{% endblock %}