{% extends 'default_frame.twig' %}

{% block main %}

<div class="ec-role">
    <div class="ec-pageHeader">
        <h1>{{ '会社概要'|trans }}</h1>
    </div>
    <div class="ec-off1Grid">
        <div class="ec-off1Grid__cell">
            <div class="ec-borderedDefs">
                <dl id="help_about_box__shop_name">
                    <dt>
                        <label class="ec-label">{{ '会社名'|trans }}</label>
                    </dt>
                    <dd>白崎繊維工業株式会社</dd>
                </dl>
                <dl >
                    <dt>
                        <label class="ec-label">{{ '代表者'|trans }}</label>
                    </dt>
                    <dd>白崎　邦彦</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '住所'|trans }}</label>
                    </dt>
                    <dd>
                        〒003-0028 <br>
                        北海道札幌市白石区平和通3丁目南1-4</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '創業'|trans }}</label>
                    </dt>
                    <dd>昭和12年7月</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '会社設立'|trans }}</label>
                    </dt>
                    <dd>昭和22年7月</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '資本金'|trans }}</label>
                    </dt>
                    <dd>4,800万円</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '電話番号'|trans }}</label>
                    </dt>
                    <dd>011-861-4146</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ 'FAX番号'|trans }}</label>
                    </dt>
                    <dd>011-862-8640</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '受付時間'|trans }}</label>
                    </dt>
                    <dd>9:00～18:00</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '定休日'|trans }}</label>
                    </dt>
                    <dd>日曜・祝日、夏季休業日、年末年始休業日</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '主なサービス'|trans }}</label>
                    </dt>
                    <dd>寝具製造・繊維製品販売・ふとん打ち直し・オーダーメイド枕</dd>
                </dl>

                <dl >
                    <dt>
                        <label class="ec-label">{{ '販売サイト'|trans }}</label>
                    </dt>
                    <dd><a target="_blank" href="https://www.futon-ten.jp/">https://www.futon-ten.jp/</a></dd>
                </dl>
            </div>

        </div>
    </div>
</div>

{% endblock %}
