{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

<div class="ec-categoryRole white">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__ja"><i class='bx bx-cart-alt'></i>{{ 'front.block.category.category__en'|trans }}</span>
        </div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="{{ asset('assets/img/img_category01.png') }}" alt="">
                    <p class="name">Category 1</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=2">
                    <img src="{{ asset('assets/img/img_category02.png') }}" alt="">
                    <p class="name">Category 2</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=3">
                    <img src="{{ asset('assets/img/img_category03.png') }}" alt="">
                    <p class="name">Category 3</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=4">
                    <img src="{{ asset('assets/img/img_category04.png') }}" alt="">
                    <p class="name">Category 4</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=5">
                    <img src="{{ asset('assets/img/img_category05.png') }}" alt="">
                    <p class="name">Category 5</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=6">
                    <img src="{{ asset('assets/img/img_category06.png') }}" alt="">
                    <p class="name">Category 6</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=10">
                    <img src="{{ asset('assets/img/img_category07.png') }}" alt="">
                    <p class="name">Category 7</p>
                </a>
            </div>
        </div>
    </div>
</div>