{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

<div class="ec-categoryRole white">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__ja"><i class='bx bx-cart-alt'></i>{{ '商品カテゴリー'|trans }}</span>
        </div>
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=1">
                    <img src="{{ asset('assets/img/img_category01.jpg') }}" alt="">
                    <p class="name">お得セット</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=2">
                    <img src="{{ asset('assets/img/cat_img2.jpg') }}" alt="">
                    <p class="name">ジンギスカン</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=3">
                    <img src="{{ asset('assets/img/img_category03.jpg') }}" alt="">
                    <p class="name">カニ</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=4">
                    <img src="{{ asset('assets/img/img_category04.jpg') }}" alt="">
                    <p class="name">お肉</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=5">
                    <img src="{{ asset('assets/img/cat_img5.jpg') }}" alt="">
                    <p class="name">海鮮</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=6">
                    <img src="{{ asset('assets/img/cat_img6.jpg') }}" alt="">
                    <p class="name">スイーツ</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id=10">
                    <img src="{{ asset('assets/img/img_category10.jpg') }}" alt="">
                    <p class="name">業務用商品</p>
                </a>
            </div>
        </div>
    </div>
</div>