<div class="ec-footerRole">
	<div class="ec-footerRole__inner_bottom">
        <div class="ec-role" style="text-align: center;">
			<ul class="ec-footerNavi" style="text-align: center;">
				<li class="ec-footerNavi__link">
					<a href="{{ url('contact') }}">{{ 'front.block.footer.inquiry'|trans }}</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('entry') }}">{{ 'front.block.login.customer_registration'|trans }}</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('mypage_favorite') }}">{{ 'front.block.login.favorite'|trans }}</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('mypage_login') }}">{{ 'front.block.login.login'|trans }}</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_privacy') }}">{{ 'front.block.footer.privacy_policy'|trans }}</a>｜<br class="sp_only">
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_about') }}">{{ 'front.block.footer.about_us'|trans }}</a>｜
				</li>    
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_tradelaw') }}">{{ 'front.block.footer.act_on_specified_commercial_transactions'|trans }}</a>｜
				</li> 
				<li class="ec-footerNavi__link">
					<a href="{{ url('homepage') }}guide">{{ 'front.block.footer.guide'|trans }}</a>
				</li>                    
			</ul>
			<div class="ec-footerSocial">
				<a href="https://twitter.com/ehRkQl2ZScs4Itn" target="_blank"><img src="{{ asset('assets/img/icon/twitter.svg') }}"></a>
				<a href="https://www.instagram.com/ezo.shoten/" target="_blank"><img src="{{ asset('assets/img/icon/instagram.svg') }}"></a>
				<a href="https://ja-jp.facebook.com/ezo.shouten/" target="_blank"><img src="{{ asset('assets/img/icon/facebook.svg') }}"></a>
			</div>
			<div class="ec-footerTitle__copyright">copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
        </div>
	</div>
</div>
