<div class="ec-footerRole">
	<div class="ec-footerRole__inner_bottom">
        <div class="ec-role" style="text-align: center;">
			<ul class="ec-footerNavi" style="text-align: center;">
				<li class="ec-footerNavi__link">
					<a href="http://www.aprt-inc.net/" target="_blank">運営会社</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('contact') }}">お問い合わせ</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('homepage') }}entry">新規会員登録</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('homepage') }}mypage/favorite">お気に入り</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('homepage') }}mypage">ログイン</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_privacy') }}">プライバシーポリシー</a>｜<br class="sp_only">
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_about') }}">当サイトについて</a>｜
				</li>    
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表記</a>｜
				</li> 
				<li class="ec-footerNavi__link">
					<a href="{{ url('homepage') }}guide">ご利用ガイド</a>
				</li>                    
			</ul>
			<div class="ec-footerSocial">
				<a href="https://twitter.com/ehRkQl2ZScs4Itn" target="_blank"><img src="{{ asset('assets/img/icon/twitter.svg') }}"></a>
				<a href="https://www.instagram.com/ezo.shoten/" target="_blank"><img src="{{ asset('assets/img/icon/instagram.svg') }}"></a>
				<a href="https://ja-jp.facebook.com/ezo.shouten/" target="_blank"><img src="{{ asset('assets/img/icon/facebook.svg') }}"></a>
			</div>
			<div class="ec-footerTitle__copyright">copyright &copy; {{ BaseInfo.shop_name }} all rights reserved.</div>
        </div>
	</div>
</div>
