
<div class="ec-headerNav">     

    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item l_line">
            <a href="{{ url('mypage') }}">
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.mypage'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item  pc_only ">
                <a href="{{ url('mypage_favorite') }}">
                    <span class="ec-headerNav__itemLink">{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('logout') }}">
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.logout'|trans }}</span>
            </a>
        </div>
    {% else %}
        <div class="ec-headerNav__item l_line">
            <a href="{{ url('entry') }}">
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.customer_registration'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item pc_only">
                <a href="{{ url('mypage_favorite') }}">
                    <span class="ec-headerNav__itemLink">{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('mypage_login') }}">
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.login'|trans }}</span>
            </a>
        </div>
    {% endif %}
</div>