{#
This file is part of EC-CUBE

Copyright(c) LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.
#}
{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

{% macro tree(Category) %}
    {% from _self import tree %}
    <a href="{{ url('product_list') }}?category_id={{ Category.id }}">
        {{ Category.name }}
    </a>
    {% if Category.children|length > 0 %}
        <ul class="child">
            {% for ChildCategory in Category.children %}
                <li>
                    {{ tree(ChildCategory) }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import tree %}

<div class="ec-categoryNaviRole only-pc">
    <div class="ec-itemNav">
        <ul class="ec-itemNav__nav">
            <li><a href="/">Trang chủ<span>home</span></a></li>
            <li><a href="{{ url('product_list') }}">Danh sách sản phẩm<span>products</span></a></li>
            <li><a href="{{ url('homepage') }}guide">Hướng dẫn<span>guide</span></a></li>
            <li><a href="{{ url('homepage') }}help/company">Công ty<span>company</span></a></li>
            <li><a href="{{ url('homepage') }}contact">Liên hệ<span>contact</span></a></li>
            {# {% for Category in Categories %}
                <li>
                    {{ tree(Category) }}
                </li>
            {% endfor %} #}
        </ul>
    </div>
</div>