{% set Categories = repository('Eccube\\Entity\\Category').getList() %}

<div class="ec-categoryRole white">
    <div class="ec-role">
        <div class="box-category">
            <div class="ec-secHeading">
                <span class="ec-secHeading__ja">{{ 'Danh mục sản phẩm'|trans }}</span>
                <span class="ec-secHeading__en">category</span>
            </div>
            <div class="ec-categoryRole__list">
                <div class="ec-categoryRole__listItem">
                    <a href="{{ url('product_list') }}?category_id=1">
                        <img src="{{ asset('assets/img/top/img_category_01.jpg') }}" alt="">
                        <p class="name">Danh mục 1</p>
                    </a>
                </div>
                <div class="ec-categoryRole__listItem">
                    <a href="{{ url('product_list') }}?category_id=2">
                        <img src="{{ asset('assets/img/top/img_category_02.jpg') }}" alt="">
                        <p class="name">Danh mục 2</p>
                    </a>
                </div>
                <div class="ec-categoryRole__listItem">
                    <a href="{{ url('product_list') }}?category_id=5">
                        <img src="{{ asset('assets/img/top/img_category_03.jpg') }}" alt="">
                        <p class="name">Danh mục 3</p>
                    </a>
                </div>
                <div class="ec-categoryRole__listItem">
                    <a href="{{ url('product_list') }}?category_id=7">
                        <img src="{{ asset('assets/img/top/img_category_04.jpg') }}" alt="">
                        <p class="name">Danh mục 4</p>
                    </a>
                </div>
                <div class="ec-categoryRole__listItem">
                    <a href="{{ url('product_list') }}?category_id=8">
                        <img src="{{ asset('assets/img/top/img_category_05.jpg') }}" alt="">
                        <p class="name">Danh mục khác</p>
                    </a>
                </div>
                {#% for Category in Categories %}
                <div class="ec-categoryRole__listItem">
                    <a href="{{ url('product_list') }}?category_id={{Category.id}}">
                        <img src="{{ asset('assets/img/dummy/square3.jpg') }}" alt="">
                        <p class="name">{{ Category.name }}</p>
                    </a>
                </div>
                {% endfor %#}
            </div>

        </div>
    </div>
</div>