
<div class="ec-categoryRole-2">
    <div class="ec-role">
        <div class="ec-categoryRole__list">
            <div class="ec-categoryRole__listItem">
                <a href="#" target="_blank">
                    <img src="{{ asset('assets/img/dummy/square5.jpg') }}" alt="">
                    <p class="name">Category 1</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="#">
                    <img src="{{ asset('assets/img/dummy/square3.jpg') }}" alt="">
                    <p class="name">Category 2</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="#" target="_blank">
                    <img src="{{ asset('assets/img/dummy/square.jpg') }}" alt="">
                    <p class="name">Category 3</p>
                </a>
            </div>
            <div class="ec-categoryRole__listItem">
                <a href="{{ url('product_list') }}?category_id">
                    <img src="{{ asset('assets/img/dummy/square2.jpg') }}" alt="">
                    <p class="name">Category 4</p>
                </a>
            </div>
        </div>        
    </div>
</div>