
<div class="ec-headerNav">

        <div class="ec-headerNav__item pc_only r_line">
            <img src="{{ asset('assets/img/common/svg_tel.svg') }}" >
            {# <div class="time_work">電話注文はこちら［受付時間］平日 10：00~18：00</div>
            <div class="phone_work"><i class='bx bxs-phone-call'></i> 000 - 0000 - 0000</div> #}
        </div>        

    {% if is_granted('ROLE_USER') %}
        <div class="ec-headerNav__item l_line">
            <a href="{{ url('mypage') }}">
                <i class='ec-headerNav__itemIcon bx bx-user'></i>
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.mypage'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item  pc_only ">
                <a href="{{ url('mypage_favorite') }}">
                    <i class='ec-headerNav__itemIcon bx bx-heart' ></i>
                    <span class="ec-headerNav__itemLink">{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('logout') }}">
                <i class='ec-headerNav__itemIcon bx bx-lock-open-alt' ></i>
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.logout'|trans }}</span>
            </a>
        </div>
    {% else %}
        <div class="ec-headerNav__item l_line">
            <a href="{{ url('entry') }}">
                <i class='ec-headerNav__itemIcon bx bx-user'></i>
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.customer_registration'|trans }}</span>
            </a>
        </div>
        {% if BaseInfo.option_favorite_product %}
            <div class="ec-headerNav__item pc_only">
                <a href="{{ url('mypage_favorite') }}">
                    <i class='ec-headerNav__itemIcon bx bx-heart' ></i>
                    <span class="ec-headerNav__itemLink">{{ 'front.block.login.favorite'|trans }}</span>
                </a>
            </div>
        {% endif %}
        <div class="ec-headerNav__item pc_only">
            <a href="{{ url('mypage_login') }}">
                <i class='ec-headerNav__itemIcon bx bx-lock-alt' ></i>
                <span class="ec-headerNav__itemLink">{{ 'front.block.login.login'|trans }}</span>
            </a>
        </div>
    {% endif %}
</div>