{% set baseInfo = repository('Eccube\\Entity\\BaseInfo').get() %}

<div class="ec-role clearfix">
        <div class="ec-headerRole sp_only">
            <div class="ec-headerRole__title">
                <div class="ec-headerTitle">
                    <div class="ec-headerTitle__title">
						<h1>
                            <a href="{{ url('homepage') }}">
                                <img src="{{ asset('assets/img/common/svg_logo.svg') }}" alt="" style="vertical-align: baseline; width: 70%;">
                                {# SMOOTH <span>EC</span> #}
                            </a>
                        </h1>				
                    </div>
                </div>
            </div>
        </div>
        <div class="ec-headerNaviRole__right sp_only clearfix">
            <div class="ec-headerNaviRole__nav">
                {{ include('Block/login.twig') }}
            </div>
            <div class="ec-headerRole__cart">
                {{ include('Block/cart.twig') }}
            </div>
        </div>
    	<div class=" head_search">{{ render(path('block_search_product')) }}</div>
        <div class="ec-fax pc_only">
            <a href="{{ url('contact') }}">{{ 'front.contact.title'|trans }}</a>
        </div>
        {# {% if baseInfo.fax_pdf_file_name %}
        <div class="ec-fax pc_only">
            <a href="{{ asset( baseInfo.fax_pdf_file_name, 'save_pdf') }}" download>
                <img src="{{ asset('assets/img/top/fax_btn.png') }}" alt="">
            </a>
        </div>
        {% endif %} #}
</div>