<div class="ec-newItemRole__listItem slick-slide">
                <p class="no">1</p>			
                <a href="{{ url('product_detail', {'id': '1'}) }}">
                    <img src="{{ asset('assets/img/top/ranking_1.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ '商品名が入ります'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥0,000'|trans }}<span>(税込)</span></p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem slick-slide">
				<p class="no">2</p>
                <a href="{{ url('product_detail', {'id': '2'}) }}">                	
                    <img src="{{ asset('assets/img/top/ranking_2.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ '商品名が入ります'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥0,000'|trans }}<span>(税込)</span></p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem slick-slide">
            	<p class="no">3</p>
                <a href="{{ url('product_detail', {'id': '3'}) }}">
                    <img src="{{ asset('assets/img/top/ranking_3.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ '商品名が入ります'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥0,000'|trans }}<span>(税込)</span></p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem slick-slide">
            	<p class="no">4</p>
                <a href="{{ url('product_detail', {'id': '4'}) }}">
                    <img src="{{ asset('assets/img/top/ranking_4.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ '商品名が入ります'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥0,000'|trans }}<span>(税込)</span></p>
                </a>
            </div>
            <div class="ec-newItemRole__listItem slick-slide">
            	<p class="no">5</p>
                <a href="{{ url('product_detail', {'id': '5'}) }}">
                    <img src="{{ asset('assets/img/top/ranking_5.jpg') }}">
                    <p class="ec-newItemRole__listItemTitle">{{ '商品名が入ります'|trans }}</p>
                    <p class="ec-newItemRole__listItemPrice">{{ '￥0,000'|trans }}<span>(税込)</span></p>
                </a>
            </div>