<div class="ec-footerRole">
    <div class="ec-footerRole__inner">
    	<div class="ec-role">

            <div class="ec-secHeading">
                <span class="ec-secHeading__ja tt_contact">{{ 'front.contact.title'|trans }}</span>
                <span class="ec-secHeading__en">-contact-</span>
            </div>

			<div class="wrap_info_box">
                <div class="info_box">
                    <p class="ttl">Lên hệ qua mail</p>
                    <p class="sq_btn small"><a href="{{ url('homepage') }}contact">Liên hệ tại đây <i class="bx bxs-right-arrow-alt"></i></a></p>
                </div>
                <div class="info_box">
                    <p class="ttl">Liên hệ - đặt hằng qua điện thoại</p>
                    <p><img src="{{ asset('assets/img/top/img_tel@2x.png') }}" /></p>
                </div>
                <div class="info_box">
                    <p class="ttl">Đặt hàng qua FAX</p>
                    <p class="sq_btn small"><a target="_blank" href="{{ asset('assets/pdf/新サカイヤフーズさま＿FAX注文用紙.pdf') }}" class="tax">Tải xuống đơn đặt hàng<i class="bx bxs-right-arrow-alt"></i></a></p>
                </div>
            </div>
    	</div>
        
        {# <div class="ec-role pc_only">
        	<ul>
            	<li class="bold mb30"><a href="{{ url('homepage') }}">サイトトップ</a></li>
            	<li class="bold"><a href="{{ url('product_list') }}">全商品一覧</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li class="mb30"><a href="">カテゴリ名</a></li> 
				
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 				
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>      
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li>                          
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>     
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li>                             
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">カテゴリ名</a></li>
            	<li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li> 
                <li><a href="">カテゴリ名</a></li>                
            </ul>
        	<ul>
            	<li class="bold"><a href="">お買い物ガイド</a></li>
            	<li><a href="">送料について</a></li> 
                <li><a href="">お支払いについて</a></li> 
                <li class="mb30"><a href="">配送日について</a></li>     
            	<li class="bold mb30"><a href="{{ url('entry') }}">新規会員登録</a></li>
            	<li class="bold"><a href="{{ url('contact') }}">お問い合わせ</a></li>   
            </ul>               
        </div> #}
    </div>
	<div class="ec-footerRole__inner_bottom">
        <div class="ec-role">
			<ul class="ec-footerNavi">
				<li class="ec-footerNavi__link">
					<a href="{{ url('contact') }}">{{ 'front.block.footer.inquiry'|trans }}</a>｜
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_privacy') }}">{{ 'front.block.footer.privacy_policy'|trans }}</a>｜<br class="sp_only">
				</li>
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_about') }}">{{ 'front.block.footer.about_us'|trans }}</a>｜
				</li>    
				<li class="ec-footerNavi__link">
					<a href="{{ url('help_tradelaw') }}">{{ 'front.block.footer.act_on_specified_commercial_transactions'|trans }}</a>｜
				</li> 
				<li class="ec-footerNavi__link">
					<a href="{{ url('homepage') }}faq">Home</a>
				</li>                    
			</ul>

            <div class="ec-footerTitle__copyright">© 2021 {{ BaseInfo.shop_name }}. ALL RIGHTS RESERVED.</div>
        </div>
	</div>
</div>

{# <div class="fcampaign">
    <span><i class='bx bxs-x-circle'></i></span>
    <a href="#" target="_blank"><img src="{{ asset('assets/img/dummy/fcampaign.jpg') }}" alt=""></a>
</div> #}
