{% set product_recommend04s = repository('Eccube\\Entity\\ProductRecommend04').getProductRecommend %}
{% set isMobile = repository('Eccube\\Entity\\Block').isMobile() %}

<div class="ec-newItemRole base-border item-ranking">
    <div class="ec-role">
        <div class="ec-secHeading">
            <span class="ec-secHeading__ja tt_ranking"><the>{{ '売れ筋ランキング'|trans }}</the></span>
            <span class="ec-secHeading__en"><the>-Ranking-</the></span>
        </div>
        <div class="ec-newItemRole__list_scroll">
            
            <div class="ec-newItemRole__list">
            	{% for ProductRecommend in product_recommend04s %}
                    {% if (isMobile and ProductRecommend.device_sp) or (isMobile == false and ProductRecommend.device_pc) %}
                    <div class="ec-newItemRole__listItem">
                        <a href="{{ url('product_detail', {'id': ProductRecommend.Product.id}) }}">
                            <img src="{{ asset(ProductRecommend.Product.mainFileName|no_image_product, "save_image") }}">
                            <p class="ec-newItemRole__listItemTitle">{{ ProductRecommend.Product.name }}</p>

                            {% set Product = ProductRecommend.Product %}
                            <p class="price02-default">
                                {% if Product.hasProductClass %}
                                {% if Product.getPrice02Min == Product.getPrice02Max %}
                                    {{ Product.getPrice02Min|price }} ({{ Product.getPrice02IncTaxMin|price }} <span>税込</span>)
                                {% else %}
                                    {{ Product.getPrice02Min|price }} ～ {{ Product.getPrice02Max|price }} ({{ Product.getPrice02IncTaxMin|price }} ～ {{ Product.getPrice02IncTaxMax|price }} <span>税込</span>)
                                {% endif %}
                                {% else %}
                                    {{ Product.getPrice02Min|price }} ({{ Product.getPrice02IncTaxMin|price }} <span>税込</span>)
                                {% endif %}
                            </p>
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>